body {
    background-image: url('/img/image_2.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    font-family: sans-serif;
}
.container {
    /* background-image: url('/img/image1.png'); */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    background-color: #ffffff88;
    width: 90%;
    margin-top: 30% !important;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(73, 124, 227, 0.582);
}

.container_signup {
    padding: 30px;
    background-color: #ffffffbb;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(73, 124, 227, 0.582);
}
.signup h1 {
    font-family: sans-serif;
    /* margin-top: 20px; */
    margin-bottom: 35px;
    font-weight: bold;
    color: #497DE3;
}
p a {
    color: #497DE3;
}
.container_signup input {
    /* margin: 40px; */
}
.form-control {
    height: 42px;
}
.signup {
    font-weight: bold;
    width: 55%;
    margin: auto;
    align-content: center;
    text-align: center;
}

ul {
    display: block;
    margin-left: -14%  !important;
}
li {
    list-style-type: none;
    
}
li a:hover {
    text-decoration: none;s
}
li:hover {
    border: solid 2px #5792A4;
    display: inline;
    padding: 4px;
    border-radius: 4px;
}

.login {            
    width: 80%;
    margin-right: 10%;
    float: right; 
    margin-top: 15%; 
    text-align: center;
    font-weight: bold
}

.login p {
    color: #5792A4;
    font-family: sans-serif;
}

a {
    color: #6FA9A6; 
    text-decoration: none;
    margin-bottom: 20px;
    font-family: sans-serif
}

.incont {
    text-align: left;
    padding-left: 30px;
}

input {
    font-family: sans-serif;    
    background-color: #5792A4!important;
    color: white !important;
    text-align: center; 
    border-radius: 25px !important; 
    padding: 20px;  
    height: 0mm; 
    margin-bottom: 20px;
}
/* #6FA9A6   #65A1D9 #497DE3 */


input[type="submit"] {
    background-color: #6FA9A6 !important;
    width: 70% !important;
    margin-left: 15%;
}
input::placeholder {
    color: white !important;
}
    /* .input1 {    
        font-family: sans-serif;    
        background-color: skyblue; 
        text-align: center; 
        border-radius: 25px; 
        padding: 20px; 
        width: 400px; 
        height: 0mm; 
        margin-bottom: 20px;
    }

    .input2 {
        background-color: skyblue; 
        text-align: center; 
        border-radius: 25px; 
        width: 200px; 
        height: 10mm; 
        margin-bottom: 20px; 
        margin-top: 20px;
    } */
    @media (min-width: 600px) {
        .container {
            margin-top: 10% !important;
        }
    }
    @media (min-width: 767px) {
        .container {
            background-image: url('/img/image1.png');
            background-attachment: fixed;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 90%;
            margin: auto;   
            padding-bottom: 150px;
            margin-top: 0% !important;
        }


        input[type="button"] {
            background-color: #6FA9A6 !important;
            width: ;
        }


        .login {
            width: 25%;
            float: right;
            margin-top: 15%;
            text-align: center;
            margin-right: 4%;

    }